<div class="body">
  <div class="header">
    Sleep Record <span (click)="changeView()"> &#8767;</span>
  </div>
  <div class="chart-tabs row">
    <div class="chart-tab" (click)="changeCurrentTab(1)">Day</div>
    <div class="chart-tab" (click)="changeCurrentTab(2)">Week</div>
    <div class="chart-tab" (click)="changeCurrentTab(3)">Month</div>
  </div>
  <div id="ink-bar-row" class="row"><div class="ink-bar"></div></div>
  <div class="row">
    <ngx-charts-line-chart
      *ngIf="!chartBarView"
      [view]="[285, 185]"
      [animations]="true"
      [xAxis]="true"
      [yAxis]="true"
      [yAxisTicks]="['7', '23']"
      [timeline]="false"
      [results]="[{name: 'Sleep Record', series: chartData }]"
      [showGridLines]="true"
      [roundDomains]="true"
      [timeline]="false"
      [curve]="curve"
      [schemeType]="customSchemeType"
    >
    </ngx-charts-line-chart>
    <app-bar-chart
      *ngIf="chartBarView"
      [chartData]="chartData"
      [chartHeight]="185"
      [chartWidth]="285"
      [chartMetaInfo]="metaInfo"
    ></app-bar-chart>
  </div>
  <div class="sleep-status">
    <div class="row left" *ngIf="chartBarView">
      <div class="circleBase type1"></div>
      <span class="grey">Above average</span>
      <div class="circleBase type2"></div>
      <span class="grey">Below average</span>
    </div>
    <h5>
      {{ datesRange[0] | date : "MMM d" }} -
      {{ datesRange[1] | date : "MMM d, y" }}
    </h5>

    <div class="row">
      <mat-card
        class="mat-card"
        [ngClass]="{
          'dark-mode': darkMode$ | async,
          'light-mode': !(darkMode$ | async)
        }"
      >
        <mat-card-subtitle class="grey">Average Time</mat-card-subtitle>
        <mat-card-content>
          <p>
            <span class="large-text">{{ averageTime }}</span>
          </p>
          <button class="btn details-btn">Details</button>
        </mat-card-content>
      </mat-card>
      <mat-card
        class="mat-card"
        [ngClass]="{
          'dark-mode': darkMode$ | async,
          'light-mode': !(darkMode$ | async)
        }"
      >
        <mat-card-subtitle class="grey">Sleep Quality</mat-card-subtitle>
        <mat-card-content>
          <p>
            <span class="large-text">{{ sleepQuality }}/</span
            ><span class="subtext">100</span>
          </p>
          <button class="btn status-btn">Good</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="sleeping-state">
    <h3>Sleeping State</h3>
    <div class="row">
      <div class="progress" *ngFor="let sleepingState of sleepingStates">
        <circle-progress
          [percent]="sleepingState.rate"
          [titleColor]="(darkMode$ | async) ? '#fafbfb' : '#0d1239'"
          [unitsColor]="(darkMode$ | async) ? '#fafbfb' : '#0d1239'"
          [innerStrokeColor]="(darkMode$ | async) ? '#353958' : '#f4f4f6'"
          [outerStrokeColor]="sleepingState.outerStrokeColor"
          [outerStrokeGradientStopColor]="
            sleepingState.outerStrokeGradientStopColor
          "
        ></circle-progress>
        <span class="grey">{{ sleepingState.name }}</span>
      </div>
    </div>
  </div>
  <button (click)="onToggle()">Change mode</button>
  <button (click)="goToWatchList()">Go to watch list</button>
</div>
