span#procent {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

span#procent::after {
    content: "%";
}

.canvas-wrap {
    position: relative;
    width: 85px;
    height: 85px;
}
